<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email</title>
</head>
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@500&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/static/style.css">

<body>
    <div class="bg">
        <header class="header">
            <!-- left box for logo -->
            <div class="left">
                <!-- <img src="email0.jpg" alt=""> -->
                <h2> Mail Box </h2>
            </div>
            <!-- mid box for navigation -->
            <div class="mid">
                <ul class="navbar">
                    <li><a href="#" class="active">Home</a></li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Support Executive</a></li>
                    <li><a href="#">Contact Us</a></li>
                </ul>
            </div>
            <!-- right box for buttons -->
            <div class="right">
                <button class="btn">Call Us Now</button><button class="btn">Email Us</button>
            </div>

        </header>

        <form action='/predict' method="POST" onsubmit="validateInput()">
            <div class="container">
                <h1>Email Prediction </h1>
                <input type="text" name="email" class="form-control" placeholder="Description" id="inputEmail"
                    autocomplete="off"><br>
                <button type="submit" class="btn btn-primary">Predict</button>
            </div>
        </form>


        <div class="container" style="padding-bottom: 0px;">
            <h1>Output</h1>
            <textarea rows="2" class="form-control" id="output">Category: {{category_pred}} 
Subcategory: {{subcategory_pred}}
            </textarea>
            <br>
        </div>

    </div>

    <script>
        function validateInput() {
            let desc = document.getElementById("inputEmail").value;
            if (desc == '') {
                alert("Please enter the email description first.");
                return false;
            }
            else return true;
        }
    </script>


</body>

</html>